<h1>Appeal</h1>

<form asp-action="Create" method="post">
    <p>Name: <input name="FullName"></p>
    <p>Organization: <input name="Organization"></p>
    <p>Purpose: <input name="Purpose"></p>
    <p>Program: <input name="Program"></p>
    <p><input type="submit" value="Save"></p>
</form>